.botao {
    border-radius: 10px;
    background: #6278F7;
    font-weight: 700;
    font-size: 18px;
    padding: 28px;
    border: none;
    cursor: pointer;
    color: #fff;
    margin: 40px 0 0px;
}

.botao:hover {
    color: #95FFD4;
}